<div id="home_page" align="center">
	<div id="filler_div">
		<% if signed_in? %>
			<%= current_user.username %>
		<% else %>
			<p>NOT SIGNED IN</p>
		<% end %>		
	</div>
	<a href="new_league" id="btn">Create a League</a>
	<a href="join_league" id="btn">Join a league</a>
</div>
