<div id="list_page">
	<h2 class="quite">Leagues</h2>
	<div id="name" align="center">
	
	<table id="fantasy_leagues_list_table">
		<thead>
			<th>League Name</th>
			<th>League Type</th>
		</thead>
		<tbody>
			<% @fantasy_leagues.each do |league| %>
			<tr>
				<td> <%= league.name %> </td>
				<td> <%= league.league_type %> </td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>
